html {
  position: relative;
  min-height: 100%; }

/* ======== HEADER ======== */
.logo-buttons {
  margin: 0 auto; }

.logo {
  float: left;
  margin-left: 20px;
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: 900;
  z-index: 1000; }
  @media (min-width: 1408px) {
    .logo {
      font-size: 2.1vw; } }
  @media (max-width: 1407px) {
    .logo {
      font-size: 3vw; } }

@media (min-width: 1408px) {
  .social-icons {
    font-size: 2.2vw;
    vertical-align: middle; } }
@media (max-width: 1407px) {
  .social-icons {
    font-size: 3vw;
    vertical-align: middle; } }

.fa-twitter,
.fa-facebook {
  background-color: rgba(187, 189, 192, 0.9);
  margin-top: 20px;
  padding: 3px;
  color: #706f6f;
  float: right;
  margin-right: 20px;
  cursor: pointer; }
  .fa-twitter:hover,
  .fa-facebook:hover {
    color: #FAA61A; }

a {
  color: white;
  text-decoration: none; }

a:hover {
  color: #FAA61A; }

p {
  hyphens: auto;
  word-wrap: break-word; }

html, body, div, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font-family: "Anonymous Pro", sans-serif !important;
  color: white;
  background-color: #706f6f; }

.link {
  border-bottom: 1px dashed white; }

@media (min-width: 1408px) {
  .main-content {
    border: solid #7b7a7a 1px;
    margin: 0 auto;
    width: 1152px;
    background-size: 128px 128px;
    background-image: linear-gradient(to right, #7b7a7a 1px, transparent 1px), linear-gradient(to bottom, #7b7a7a 1px, #706f6f 1px); } }
@media (max-width: 1407px) {
  .main-content {
    margin-left: 9.09091vw;
    margin-right: 9.09091vw;
    width: 81.81818vw;
    background-size: 9.09091vw 9.09091vw;
    background-image: linear-gradient(to right, #7b7a7a 1px, transparent 1px), linear-gradient(to bottom, #7b7a7a 1px, #706f6f 1px); } }
@media (max-width: 699px) {
  .main-content {
    display: none; } }

@media (min-width: 1408px) {
  .top {
    width: 1152px;
    height: 128px;
    vertical-align: middle; } }
@media (max-width: 1407px) {
  .top {
    width: 100%;
    height: 9.09091vw;
    vertical-align: middle; } }
@media (max-width: 699px) {
  .top {
    width: 100%;
    height: 18.18182vw;
    vertical-align: middle; } }

@media (min-width: 1408px) {
  .bottom {
    margin: 0 auto;
    width: 1152px;
    height: 128px;
    vertical-align: middle; } }
@media (max-width: 1407px) {
  .bottom {
    margin: 0 auto;
    width: 81.81818vw;
    min-height: 9.09091vw;
    max-height: 27.27273vw;
    vertical-align: middle; } }

.roww {
  display: inline-block; }

.block {
  display: inline-block; }

@media (min-width: 1408px) {
  .img1 {
    width: 256px;
    height: 256px;
    margin-left: 896px; } }
@media (max-width: 1407px) {
  .img1 {
    width: 18.18182vw;
    height: 18.18182vw;
    margin-left: 63.63636vw; } }

@media (min-width: 1408px) {
  .height-2 {
    height: 256px;
    margin-top: 0; } }
@media (max-width: 1407px) {
  .height-2 {
    height: 18.18182vw;
    margin-top: -8px; } }

h1 {
  font-weight: 800; }
  @media (min-width: 1408px) {
    h1 {
      font-size: 137px;
      line-height: 130px;
      margin-left: 128px;
      margin-top: -128px;
      vertical-align: top; }
      h1 h1:first-line {
        line-height: 150px; } }
  @media (max-width: 1407px) {
    h1 {
      width: 36.36364vw;
      font-size: 10vw;
      line-height: 9.3vw;
      margin-left: 9.09091vw;
      margin-top: -100vw / 11;
      height: 18.18182vw;
      vertical-align: top; } }
  @media (max-width: 699px) {
    h1 {
      width: 36.36364vw;
      font-size: 10vw;
      line-height: 9vw;
      margin-left: 9.09091vw;
      margin-top: -100vw / 11;
      height: 18.18182vw;
      vertical-align: top; } }

.img2 {
  position: relative; }
  @media (min-width: 1408px) {
    .img2 {
      width: 384px;
      height: 256px;
      margin-top: 128px; } }
  @media (max-width: 1407px) {
    .img2 {
      width: 27.27273vw;
      height: 18.18182vw;
      margin-top: 9.09091vw; } }
  @media (max-width: 699px) {
    .img2 {
      display: none; } }

h3 {
  text-transform: uppercase;
  font-weight: 800;
  vertical-align: baseline; }
  @media (min-width: 1408px) {
    h3 {
      height: 256px;
      font-size: 28px;
      line-height: 44px;
      width: 614.4px;
      margin-top: 128px;
      margin-left: 128px; } }
  @media (max-width: 1407px) {
    h3 {
      height: 27.27273vw;
      font-size: 2.2vw;
      line-height: 3.2vw;
      width: 43.63636vw;
      margin-top: calc(9.09091vw - 8px);
      margin-bottom: 9.09091vw;
      margin-left: 9.09091vw; } }
  @media (max-width: 699px) {
    h3 {
      height: 27.27273vw;
      margin-bottom: 0;
      margin-top: 9.09091vw;
      margin-left: 9.09091vw;
      width: 63.63636vw;
      font-size: 3.2vw;
      line-height: 4.3vw; } }

.img3 {
  vertical-align: top; }
  @media (min-width: 1408px) {
    .img3 {
      width: 128px;
      height: 384px;
      margin-top: calc(18.18182vw + 16px); } }
  @media (max-width: 1407px) {
    .img3 {
      width: 9.09091vw;
      height: 27.27273vw;
      margin-top: calc(9.09091vw - 8px); } }
  @media (max-width: 699px) {
    .img3 {
      display: none; } }

.top-margin {
  margin-top: 40px; }

@media (min-width: 1408px) {
  .bottom-margin {
    margin-bottom: 40px; } }
@media (max-width: 1407px) {
  .bottom-margin {
    margin-bottom: 5vw; } }
@media (max-width: 699px) {
  .bottom-margin {
    margin-bottom: 10px; } }

@media (min-width: 1408px) {
  .paragraph {
    font-size: 21px;
    line-height: 32px; } }
@media (max-width: 1407px) {
  .paragraph {
    font-size: 2.2vw;
    line-height: 3.1vw; } }

@media (min-width: 1408px) {
  .paragraph1 {
    margin-top: 256px;
    margin-left: 128px;
    width: 384px;
    height: 1024px; } }
@media (max-width: 1407px) {
  .paragraph1 {
    position: relative;
    vertical-align: top;
    margin-top: calc(9.09091vw * 3 - 18px);
    width: 27.27273vw;
    margin-left: 9.09091vw;
    height: 145.45455vw; } }

@media (min-width: 1408px) {
  .incut {
    position: absolute;
    top: 256px;
    left: 768px;
    width: 113px;
    vertical-align: top;
    font-size: 34px;
    line-height: 38px;
    font-weight: 900; } }
@media (max-width: 1407px) {
  .incut {
    position: absolute;
    top: 36.36364vw;
    left: 54.54545vw;
    width: 18.18182vw;
    vertical-align: top;
    font-size: 3vw;
    line-height: 4vw;
    font-weight: 900; } }
@media (max-width: 699px) {
  .incut {
    display: none; } }

.img4 {
  vertical-align: top; }
  @media (min-width: 1408px) {
    .img4 {
      margin-left: 256px;
      width: 256px;
      height: 384px;
      margin-top: 128px; } }
  @media (max-width: 1407px) {
    .img4 {
      width: 18.18182vw;
      height: 27.27273vw;
      margin-top: calc(9.09091vw * 2 - 8px);
      margin-left: 18.18182vw; } }
  @media (max-width: 699px) {
    .img4 {
      display: none; } }

@media (min-width: 1408px) {
  .img5 {
    margin-left: 256px;
    width: 256px;
    height: 384px;
    margin-top: 128px; } }
@media (max-width: 1407px) {
  .img5 {
    margin-left: 18.18182vw;
    width: 18.18182vw;
    height: 27.27273vw;
    margin-top: 9.09091vw; } }
@media (max-width: 699px) {
  .img5 {
    display: none; } }

@media (min-width: 1408px) {
  .incut2 {
    margin-top: 248px;
    margin-left: 128px;
    width: 497px;
    height: 128px;
    vertical-align: top;
    font-size: 34px;
    line-height: 38px;
    font-weight: 900; } }
@media (max-width: 1407px) {
  .incut2 {
    position: relative;
    margin-top: 9.09091vw;
    margin-left: 9.09091vw;
    width: 36.36364vw;
    height: 9.09091vw;
    vertical-align: top;
    font-size: 3vw;
    line-height: 4vw;
    font-weight: 900; } }

@media (min-width: 1408px) {
  .img6 {
    margin-left: 768px;
    width: 128px;
    height: 128px;
    margin-top: -8px; } }
@media (max-width: 1407px) {
  .img6 {
    margin-left: 54.54545vw;
    width: 9.09091vw;
    height: 9.09091vw;
    margin-top: 0; } }
@media (max-width: 699px) {
  .img6 {
    display: none; } }

@media (min-width: 1408px) {
  .paragraph2 {
    margin-top: -8px;
    margin-left: 256px;
    width: 384px;
    height: 768px; } }
@media (max-width: 1407px) {
  .paragraph2 {
    margin-top: 0;
    width: 27.27273vw;
    margin-left: 18.18182vw;
    height: 109.09091vw; } }

@media (min-width: 1408px) {
  .incut3 {
    margin-top: 128px;
    margin-left: 256px;
    width: 256px;
    height: 128px;
    vertical-align: top;
    font-size: 34px;
    line-height: 38px;
    font-weight: 900; } }
@media (max-width: 1407px) {
  .incut3 {
    margin-top: 9.09091vw;
    margin-left: 18.18182vw;
    width: calc(9.09091vw * 2 - 8px);
    height: 9.09091vw;
    vertical-align: top;
    font-size: 3vw;
    line-height: 4vw;
    font-weight: 900; } }

@media (min-width: 1408px) {
  .img7 {
    margin-left: 128px;
    width: 384px;
    height: 128px;
    margin-top: 134px; } }
@media (max-width: 1407px) {
  .img7 {
    margin-left: 9.09091vw;
    width: 27.27273vw;
    height: 9.09091vw;
    margin-top: calc(9.09091vw - 10px); } }

.img8 {
  vertical-align: top; }
  @media (min-width: 1408px) {
    .img8 {
      width: 256px;
      height: 256px;
      margin-top: 256px; } }
  @media (max-width: 1407px) {
    .img8 {
      width: 18.18182vw;
      height: 18.18182vw;
      margin-top: 18.18182vw; } }

@media (min-width: 1408px) {
  .paragraph3 {
    margin-top: 128px;
    margin-left: 0;
    width: 384px;
    height: 1280px; } }
@media (max-width: 1407px) {
  .paragraph3 {
    margin-left: 0;
    margin-top: calc(9.09091vw  - 8px);
    width: 27.27273vw;
    height: 181.81818vw; } }

@media (min-width: 1408px) {
  .img9 {
    position: absolute;
    left: 640px;
    top: 640px;
    width: 384px;
    height: 256px; } }
@media (max-width: 1407px) {
  .img9 {
    position: absolute;
    left: 45.45455vw;
    top: 45.45455vw;
    width: 27.27273vw;
    height: 18.18182vw; } }

.img10 {
  vertical-align: top; }
  @media (min-width: 1408px) {
    .img10 {
      margin-left: 256px;
      width: 256px;
      height: 384px;
      margin-top: 0;
      padding: 0; } }
  @media (max-width: 1407px) {
    .img10 {
      margin-left: 18.18182vw;
      width: 18.18182vw;
      height: 27.27273vw;
      margin-top: 0; } }

@media (min-width: 1408px) {
  .img11 {
    width: 256px;
    height: 256px;
    margin-top: 128px;
    margin-left: 128px; } }
@media (max-width: 1407px) {
  .img11 {
    width: 18.18182vw;
    height: 18.18182vw;
    margin-top: 18.18182vw;
    margin-left: 9.09091vw; } }

@media (min-width: 1408px) {
  .incut4 {
    margin-top: 128px;
    margin-left: 0;
    width: 512px;
    height: 128px;
    vertical-align: top;
    font-size: 34px;
    line-height: 38px;
    font-weight: 900; } }
@media (max-width: 1407px) {
  .incut4 {
    margin-top: calc(9.09091vw * 2 - 8px);
    margin-left: 0;
    width: 36.36364vw;
    height: 9.09091vw;
    vertical-align: top;
    font-size: 3vw;
    line-height: 4vw;
    font-weight: 900; } }

@media (min-width: 1408px) {
  .paragraph4 {
    margin-top: 128px;
    margin-left: 256px;
    width: 384px;
    height: 384px; } }
@media (max-width: 1407px) {
  .paragraph4 {
    margin-top: 9.09091vw;
    width: 27.27273vw;
    margin-left: 18.18182vw; } }

.incut5 {
  text-align: center; }
  @media (min-width: 1408px) {
    .incut5 {
      margin-top: 128px;
      margin-left: 128px;
      width: 896px;
      height: 128px;
      vertical-align: top;
      font-size: 34px;
      line-height: 38px;
      font-weight: 900; } }
  @media (max-width: 1407px) {
    .incut5 {
      margin-top: 9.09091vw;
      margin-left: 9.09091vw;
      width: 63.63636vw;
      height: 9.09091vw;
      vertical-align: top;
      font-size: 3vw;
      line-height: 4vw;
      font-weight: 900; } }

.about {
  font-weight: 800;
  text-align: right; }
  @media (min-width: 1408px) {
    .about {
      margin-left: 320px;
      width: 256px;
      font-size: 16px;
      line-height: 22px; } }
  @media (max-width: 1407px) {
    .about {
      margin-left: 18.18182vw;
      width: 18.18182vw;
      font-size: 2vw;
      line-height: 3vw; } }

.about_names {
  font-weight: 800;
  text-align: left; }
  @media (min-width: 1408px) {
    .about_names {
      margin-left: 30px;
      width: 256px;
      font-size: 16px;
      line-height: 22px; } }
  @media (max-width: 1407px) {
    .about_names {
      margin-left: 30px;
      width: 18.18182vw;
      font-size: 2vw;
      line-height: 3vw; } }

/*------------------------------------------
------------ mobile version---------------*/
@media (min-width: 1408px) {
  .mob-container {
    display: none; } }
@media (max-width: 1407px) {
  .mob-container {
    display: none; } }
@media (max-width: 699px) {
  .mob-container {
    display: block;
    margin-left: 9.09091vw;
    margin-right: 9.09091vw;
    width: 81.81818vw;
    background-size: 9.09091vw 9.09091vw;
    background-image: linear-gradient(to right, #7b7a7a 1px, transparent 1px), linear-gradient(to bottom, #7b7a7a 1px, #706f6f 1px); } }

@media (max-width: 699px) {
  .mob-paragraph {
    font-size: 3vw;
    line-height: 3.4vw;
    margin-top: 9.09091vw;
    margin-left: 9.09091vw;
    width: 63.63636vw; } }

@media (max-width: 699px) {
  .mp-1 {
    height: 9.09091vw; } }

@media (max-width: 699px) {
  .mp-2 {
    height: 18.18182vw; } }

@media (max-width: 699px) {
  .mp-3 {
    height: 27.27273vw; } }

@media (max-width: 699px) {
  .mp-4 {
    height: 36.36364vw; } }

@media (max-width: 699px) {
  .mp-5 {
    height: 45.45455vw; } }

@media (max-width: 699px) {
  .mp-6 {
    height: 54.54545vw; } }

@media (max-width: 699px) {
  .mp-7 {
    height: 63.63636vw; } }

@media (max-width: 699px) {
  .mp-8 {
    height: 72.72727vw; } }

@media (max-width: 699px) {
  .mp-9 {
    height: 81.81818vw; } }

@media (max-width: 699px) {
  .mp-10 {
    height: 90.90909vw; } }

@media (max-width: 699px) {
  .mp-11 {
    height: 100vw; } }

@media (min-width: 1408px) {
  .mob-incut {
    display: none; } }
@media (max-width: 1407px) {
  .mob-incut {
    display: none; } }
@media (max-width: 699px) {
  .mob-incut {
    display: block;
    font-weight: 900;
    font-size: 3vw;
    line-height: 4vw;
    margin-left: 9.09091vw;
    width: 63.63636vw; } }

.img-container {
  font-size: 0; }

.mob-img1 {
  margin-left: 9.09091vw;
  width: 18.18182vw;
  height: 18.18182vw; }

.mob-img2 {
  margin-left: 9.09091vw;
  width: 18.18182vw;
  height: 18.18182vw; }

#footer {
  margin: 50px 0 auto auto;
  position: relative;
  bottom: 0;
  background-color: #080808;
  text-align: left;
  display: block; }
  @media (min-width: 1408px) {
    #footer {
      width: 100%;
      margin: 100px 0 auto auto; } }
  @media (max-width: 699px) {
    #footer {
      width: 100%;
      margin: 50px 0 auto auto; } }

@media (min-width: 1408px) {
  #footer-content {
    margin: 0 auto;
    max-width: 1280px; } }
@media (max-width: 699px) {
  #footer-content {
    max-width: 100%;
    margin-left: 50px;
    margin-right: 50px; } }

.links li {
  color: #fff; }
  @media (min-width: 1408px) {
    .links li {
      margin-left: 100px;
      font-size: 1vw;
      line-height: 2vw; } }
  @media (max-width: 699px) {
    .links li {
      display: none; } }

.copyright {
  float: left;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 1vw;
  line-height: 1.4vw;
  color: #fff; }
  @media (min-width: 1408px) {
    .copyright {
      font-size: 1vw;
      line-height: 1.4vw; } }
  @media (max-width: 1407px) {
    .copyright {
      font-size: 1.8vw;
      line-height: 2vw; } }

.copying-info {
  margin-left: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #ffffff; }
  @media (min-width: 1408px) {
    .copying-info {
      font-size: 0.8vw;
      line-height: 1.2vw; } }
  @media (max-width: 699px) {
    .copying-info {
      font-size: 1.8vw;
      line-height: 2vw; } }

.support-site:link,
.support-site:visited {
  color: #FAA61A !important;
  font-size: 1.2em; }

/*# sourceMappingURL=application.css.map */
