
.tetris-figure {
  width: 100%;
  height: 100%;

  .grid-wrapper{
    width: 100%;
    height: 100%;
  }

  .elementary-block {
    float: left;
    display: inline-block;
    vertical-align: top;
  }

  .elementary-block.transparent {
    cursor: pointer;
  }

  .elementary-block.opaque {
    background-color: $bg-color;
  }
}
