
.tetris-figure {
  display: flow-root;

  .grid-wrapper{
    display: flow-root;
  }

  .elementary-block {
    float: left;
    display: inline-block;
    vertical-align: top;
  }

  .elementary-block.transparent {
    cursor: pointer;
  }

  .elementary-block.opaque {
    background-color: white;
  }
}
