//// colors

//$main-text: #343434;
$white:#fff;
$orange: #FAA61A;


/// fonts

$footer-size: 0.7em;
$footer-size-media: 0.5em;

// Media query

$cell: 128px;
//cell = 128px; 11*128 = 1408

$brk-fixed: '(min-width: 1408px)';
$brk-fluid: '(max-width: 1407px)';
$brk-mobile: '(max-width: 699px)';
