//// colors

//$main-text: #343434;
$white:#fff;
$orange: #FAA61A;


/// fonts

$footer-size: 0.7em;
$footer-size-media: 0.5em;

// Media query

$cell: 128px;

$brk-fixed: '(min-width: #{$cell*11})';
$brk-fluid: '(max-width: #{$cell*11 - 1})';
$brk-mobile: '(max-width: 699px)';
